<div  class="row text-center mw-100  mx-auto container-buttons">
<div class="col-3 my-4">
 <button 
 (click)="onLeadClick()"
  mat-flat-button color="warn">
   LEAD
 </button>
</div>
<div   class="col-2 my-4">
  <button  mat-flat-button color="warn">
   MIEI LEAD
  </button>
 </div>
 <div  class="col-2 my-4 ">
  <button (click)="onClickOfferte()"
   mat-flat-button color="warn">
    GESTIONE OFFERTE
  </button>
 </div>
 <div   class="col-2 my-4">
  <button mat-flat-button color="warn">
    OPERATORI
  </button>
 </div>
 <div  class="col-3 my-4">
  <button mat-flat-button color="warn">
    GESTIONE CATEGORIE
  </button>
 </div>
</div>




  <router-outlet></router-outlet>
